"*":
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "github"
      "background-tips"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    invisibles: {}
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "575e53ab-cd83-374e-500e-493baf60af65"
  "file-icons":
    coloured: false
    onChanges: true
  github:
    graphicalConflictResolution: false
  linter: {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
".erb.html.text":
  editor:
    tabLength: 4
".groovy.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
