"*":
  core: {}
  editor:
    invisibles: {}
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "575e53ab-cd83-374e-500e-493baf60af65"
  "file-icons":
    coloured: false
    onChanges: true
  gist: {}
  linter: {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
".erb.html.text":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
